body{
  background-color: #1D0E3E;
}
.input{
  border: 1px solid #d9d9d9;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;

}
hr{
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}