.gradient-01 {
  background: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}
.slider {
  width: 100%;
  height: 100vh;
  position: relative;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.slide.active {
  opacity: 1;
}
.content {
  position: absolute;
  top: 25%;
  opacity: 0;
  right: 50px;
  width: 600px;
  line-height: 1.5;
}
.slide.active > .content {
  opacity: 1;
  transform: translate(-50px);

  transition: all 3s ease-in-out 0.3s;
}

.content h1 {
  font-size: 50px;
  margin-top: 10px;
  font-weight: 900;
  letter-spacing: 0.2rem;
}
.sliderr {
  height: 100px;

  overflow: hidden;
  position: relative;
}
.sliderr .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;

  gap: 30px;
  width: calc(250px * 14);
}
.sliderr .slidee {
  height: 100px;
  width: 250px;
  margin-top: 20px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
@media only screen and (max-width: 480px) {
  .content {
    position: absolute;

    opacity: 0;

    right: -1px;
    width: 300px;
    line-height: 1.4;
    color: white;
  }
  .slide.active > .content {
    opacity: 1;
    transform: translate(-60px);
    color: white;

    transition: all 2s ease-in-out 0.3s;
  }
  .content h1 {
    font-size: 30px;
    margin-top: -70px;
    font-weight: 900;
    letter-spacing: 0.2rem;
  }
}
:root {
  --primary: #ec994b;
  --white: #000000;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width: 1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width: 500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 37rem;
  margin: 5px;
  position: relative;
}

@media (max-width: 500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: "";
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.accordion-item {
  color: #ffff;
  margin: 3rem 0;
  border-bottom: 1px solid white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.box {
  box-shadow: 0px 5px 20px 2px #1d0e3e2f;
  z-index: 999;
  background-color: #1d0e3e;
}
.bg {
  background: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bo {
  width: 0;
  height: 0;
  border: 150px solid transparent;

  border-top-color: #1d0e3e;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -150px;
}
hr {
  border-color: gray;
}



.nav-link {
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: red;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .hamburger {
    display: flex;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    color: #ffff;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    background-color: #1d0e3e;
    gap: 10px;
    width: 100%;
    height:180px;
    text-align: center;
    transition: 0.3s;
  }
  .nav-menu.activee {
    left: 0;
  }
  
}
